{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

<section class="container">
<div class="columns is-centered">
   <div class="column">
      <form method="post">
         <div class="is-size-5 has-text-centered">
            <i class="fas fa-user-circle mr-1"></i>S'enregistrer
            {{ form_start(registrationForm) }}
            <div class="control">
               <div class="inline">
                  {{ form_label(registrationForm.email) }}
                  <p class="control has-icons-left has-icons-right">
                     {{ form_widget(registrationForm.email, {'attr': {'class': 'input', 'placeholder' : 'utilisateur@mail.com'}}) }}
                     <span class="icon is-small is-left">
                     <i class="fas fa-at"></i>
                     </span>
                  </p>
               </div>
               <div class="inline">
                  {{ form_label(registrationForm.plainPassword) }}
                  <p class="control has-icons-left has-icons-right">
                     {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input', 'placeholder' : '*********'}}) }}
                     <span class="icon is-small is-left">
                     <i class="fas fa-lock"></i>
                     </span>
                  </p>
               </div>
               <div class="inline">
                  <label class="checkbox">
                  {{ form_widget(registrationForm.agreeTerms, {'attr'
                  : {'type' : 'checkbox'}}) }}
                  J'accepte les termes et conditions
                  </label>
               </div>
               {{ form_end(registrationForm) }}
      </form>
      <button class="button is-success mt-1" id="button"><i class="fas fa-check mr-1"></i>S'enregistrer</button>
      </div>
    </div>
</div>
</section>

{% endblock %}