{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
<section class="container">
<div class="columns has-text-centered is-multiline">
   <div class="column dashboard is-full has-text-centered flex is-size-5">
        <i class="fab fa-product-hunt mr-1"></i>Projets > {{ project.name }} <button class="button is-info flex-end ml-1" data-show="quickview" data-target="quickviewDefault"><i class="fas fa-user-friends"></i></button>
    </div>

    <div class="column task has-background-grey-lighter has-text-grey-dark" s-type="new">
        <nav class="level">
         <div class="level-item has-text-centered">
         <div>
          <p class="heading is-size-6">Tâches créées</p>
          <p class="title">{{ cardsNew|length }}</p>
         </div>
        </div>
    </div>

    <div class="column task has-background-warning has-text-grey-dark" s-type="inProgress">
        <nav class="level">
         <div class="level-item has-text-centered">
         <div>
          <p class="heading is-size-6">Tâches en cours</p>
          <p class="title">{{ cardsInProgress|length }}</p>
         </div>
        </div>
    </div>

    <div class="column task has-background-success has-text-grey-dark" s-type="finished">
        <nav class="level">
         <div class="level-item has-text-centered">
         <div>
          <p class="heading is-size-6">Tâches terminées</p>
          <p class="title">{{ cardsFinished|length }}</p>
         </div>
        </div>
    </div>

<div class="column is-12">
{# Préparation des différentes variables #}
{% if status != null %}
 {% if status == 'new' %}
   {% set color = 'is-grey-lighter' %}
   {% set cards = cardsNew %}
   {% set type = 'créées' %}
 {% elseif status == 'inProgress' %}
   {% set color = 'is-warning' %}
   {% set cards = cardsInProgress %}
   {% set type = 'en cours' %}
 {% elseif status == 'finished'%}
   {% set color = 'is-success' %}
   {% set cards = cardsFinished %}
   {% set type = 'terminées' %}
{% endif %}

{% if cards|length > 0 %}
   <article class="panel {{ color }}">
      <p class="panel-heading" s-type="{{ status }}">
         Tâches {{ type }}
      </p>
      <div class="panel-block">
         <p class="control has-icons-left">
            <input class="input is-info" type="text" placeholder="Search">
            <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
            </span>
         </p>
      </div>
      {% for card in cards  %}
      <a class="panel-block show-card" card-id="{{ card.id }}">
         <span class="panel-icon">
            <i class="fas fa-tasks" aria-hidden="true"></i>
         </span>
          {{ card.name|capitalize }}
      </a>
      {% endfor %}
    </article>
   </div>

{% else %}
Aucune tâche dans cette catégorie
{% endif %}
{% endif %}

{% if ((status == null) and (cardsNew == null) and (cardsInProgress == null) and (cardsFinished == null))  %}
Aucune tâche dans ce projet, cliquez ci-dessous pour en créer une
{% endif %}

{% if ((status == null) and ((cardsNew != null) or (cardsInProgress != null) or (cardsFinished != null)))  %}
Cliquez sur l'une des catégories ci-dessus pour afficher les différentes tâches
{% endif %}

</div>
   <div class="column has-text-centered is-centered">
   <button id="modal" class="button is-danger is-rounded"><i class="fas fa-plus mr-1"></i>Créer une nouvelle tâche</button>
   </div>
</div>
</section>

<div class="modal has-text-grey">
  <div class="modal-background"></div>
   <form method="post">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Créer une nouvelle tâche</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {{ form_start(cardForm) }}
            <div class="control">
               <div class="inline">
                  {{ form_label(cardForm.name) }}
                  {{ form_errors(cardForm.name) }}
                  <p class="control has-icons-left has-icons-right">
                     {{ form_widget(cardForm.name, {'attr': {'class': 'input', 'placeholder' : 'Nom de la tâche'}}) }}
                     <span class="icon is-small is-left">
                     <i class="fas fa-tasks"></i>
                     </span>
                  </p>
               </div>
               <div class="field">
                  <div class="control">
                  {{ form_label(cardForm.description) }}
                  {{ form_errors(cardForm.description) }}
                     {{ form_widget(cardForm.description, {'attr': {'class': 'textarea', 'placeholder' : 'Description'}}) }}
                  </div>
               </div>
      {{ form_end(cardForm) }}
    </section>
    </form>
    <footer class="modal-card-foot">
      <button id="button" type="submit" class="button is-success">Créer une nouvelle tâche</button>
      <button class="button close">Annuler</button>
    </footer>
  </div>
</div>

<div id="quickviewDefault" class="quickview">
  <header class="quickview-header">
    <p class="title">Utilisateurs</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>

  <div class="quickview-body has-text-dark">
    <div class="quickview-block">
        {% for user in listUsers %}
        {{ user.0 }}
        {% endfor %}
    </div>
  </div>

  <footer class="quickview-footer">
  </footer>
</div>

<script src="{{ asset('assets/js/quickview.js') }}"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous">
</script>

<script src="{{ asset('assets/js/project.js') }}"></script>

{% endblock %}