{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
<section class="container">
<div class="columns has-text-centered is-multiline">
   <div class="column dashboard is-full has-text-centered">
        <i class="fab fa-product-hunt mr-1"></i>Projets > {{ project.name }}
    </div>

    <div class="column task has-background-grey-lighter has-text-grey-dark" s-type="new">
        <nav class="level">
         <div class="level-item has-text-centered">
         <div>
          <p class="heading">Tâches créées</p>
          <p class="title">{{ cardsNew|length }}</p>
         </div>
        </div>
    </div>

    <div class="column task has-background-warning has-text-grey-dark" s-type="inProgress">
        <nav class="level">
         <div class="level-item has-text-centered">
         <div>
          <p class="heading">Tâches en cours</p>
          <p class="title">{{ cardsInProgress|length }}</p>
         </div>
        </div>
    </div>

    <div class="column task has-background-success has-text-grey-dark" s-type="finished">
        <nav class="level">
         <div class="level-item has-text-centered">
         <div>
          <p class="heading">Tâches terminées</p>
          <p class="title">{{ cardsFinished|length }}</p>
         </div>
        </div>
    </div>

<div class="column is-12">
{# Préparation des différentes variables #}
{% if status != null %}
 {% if status == 'new' %}
   {% set color = 'is-grey-lighter' %}
   {% set cards = cardsNew %}
   {% set type = 'créées' %}
 {% elseif status == 'inProgress' %}
   {% set color = 'is-warning' %}
   {% set cards = cardsInProgress %}
   {% set type = 'en cours' %}
 {% elseif status == 'finished'%}
   {% set color = 'is-success' %}
   {% set cards = cardsFinished %}
   {% set type = 'terminées' %}
{% endif %}

{% if cards|length > 0 %}
   <article class="panel {{ color }}">
      <p class="panel-heading">
         Tâches {{ type }}
      </p>
      <div class="panel-block">
         <p class="control has-icons-left">
            <input class="input is-info" type="text" placeholder="Search">
            <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
            </span>
         </p>
      </div>
      {% for card in cards  %}
      <a class="panel-block card" card-id="{{ card.id }}">
         <span class="panel-icon">
            <i class="fas fa-tasks" aria-hidden="true"></i>
         </span>
          {{ card.name|capitalize }}
      </a>
      {% endfor %}
    </article>
   </div>

{% else %}
Aucune tâche dans cette catégorie
{% endif %}
{% endif %}

{% if ((status == null) and (cardsNew == null) and (cardsInProgress == null) and (cardsFinished == null))  %}
Aucune tâche dans ce projet, cliquez ci-dessous pour en créer une
{% endif %}

{% if ((status == null) and ((cardsNew != null) or (cardsInProgress != null) or (cardsFinished != null)))  %}
Cliquez sur l'une des catégories ci-dessus pour afficher les différentes tâches
{% endif %}

</div>
   <div class="column has-text-centered is-centered">
   <button id="modal" class="button is-danger is-rounded"><i class="fas fa-plus mr-1"></i>Créer une nouvelle tâche</button>
   </div>
</div>
</section>

<div class="modal has-text-grey">
  <div class="modal-background"></div>
   <form method="post">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Créer une nouvelle tâche</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {{ form_start(cardForm) }}
            <div class="control">
               <div class="inline">
                  {{ form_label(cardForm.name) }}
                  {{ form_errors(cardForm.name) }}
                  <p class="control has-icons-left has-icons-right">
                     {{ form_widget(cardForm.name, {'attr': {'class': 'input', 'placeholder' : 'Nom de la tâche'}}) }}
                     <span class="icon is-small is-left">
                     <i class="fas fa-tasks"></i>
                     </span>
                  </p>
               </div>
               <div class="field">
                  <div class="control">
                  {{ form_label(cardForm.description) }}
                  {{ form_errors(cardForm.description) }}
                     {{ form_widget(cardForm.description, {'attr': {'class': 'textarea', 'placeholder' : 'Description'}}) }}
                  </div>
               </div>
      {{ form_end(cardForm) }}
    </section>
    </form>
    <footer class="modal-card-foot">
      <button id="button" type="submit" class="button is-success">Créer une nouvelle tâche</button>
      <button class="button close">Annuler</button>
    </footer>
  </div>
</div>

<script>
$("#modal").click(function() {
  $(".modal").addClass("is-active");  
});

$(".close").click(function() {
   $(".modal").removeClass("is-active");
});

$(".task").click(function() {
   let statusType = jQuery(this).attr("s-type");
   window.location.href="http://127.0.0.1:8001/p/{{ project.id }}?t=" + statusType; 
});

// Affichage d'une card lors du click
$(".card").click(function() {
   let cardID = jQuery(this).attr("card-id");

 $.ajax({
            url: '/getCardData', 
            method: 'POST', 
            dataType: 'json',
            data: {
                    cardID,
                  }
            }).done(function(response) {
                if (response['Error'] == 'Accès non autorisé') {
                   // Afficher un pop up d'erreur ?
                }

                console.log(response)
  
                if (response !== undefined) {
                    let responseHTML = '';

                     responseHTML += 
                     '<div class="modal is-active">'
                     + '<div class="modal-background"></div>'
                     + '<div class="modal-card">'
                     +   '<header class="modal-card-head">'
                     +      '<p class="modal-card-title">' + response[0].name + '</p>'
                     +      '<button class="delete close" aria-label="close"></button>'
                     +   '</header>'
                     +   '<section class="modal-card-body">'
                     +      response[0].description
                     +   '</section>'
                     +   '<footer class="modal-card-foot">'
                     +      '<button class="button is-success">Démarrer cette tâche</button>'
                     +      '<button class="button close">Cancel</button>'
                     +   '</footer>'
                     + '</div>'
                     +'</div>';
                     
                     $('body').append(responseHTML);

                     // Refresh event
                     $(".close").click(function() {
                        $(".modal").removeClass("is-active");
                     });
                  }
  
            }).fail(function() {
                //$('.result-search-content').html('Erreur de chargement');
            });
});

</script>

{% endblock %}